@import '../../../styles/settings/_all';

.main {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
  .todo__list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      position: relative;
      font-size: 24px;
      border-bottom: 1px solid #ededed;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
