@import '../styles/settings/_all';
@import '../styles/tools/_all';
@import '../styles/generic/_all';
@import '../styles/elements/_all';
@import '../styles/objects/_all';
@import '../styles/components/_all';

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}
.app-content {
  flex: 1;
  overflow-y: auto;
}
