// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand: #25abd1;
$color-white: #ffffff;
$color-text: #222222;
$color-grey: rgba(230, 230, 230, 0.7);
// Background Colors
$bg-color-gray: #f5f5f5;

// Border
$color-border: #ecf0f1;

// Links
$color-link: $color-text;
$color-link-hover: $color-brand;

// Text
$color-text-light-grey: rgba(0, 0, 0, 0.4);
$color-text-dark-grey: rgba(0, 0, 0, 0.89);
$color-text: #808285;
